<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 在这里加入内容 -->
	<bean id="A" class="org.springframework.port.A">
		<property name="id" value="11"/>
		<property name="name" value="zhangssan"/>
	</bean>
</beans>